.header {
  height: 45px;
  width: 100%;
  display: flex;
  background-color: #eaf6f6;
  position: absolute;

  .options {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:  #bef0f0;

    .option {
      padding: 40px;
      color: black;
      cursor: pointer;
      
    }
  }
}
