.header {
  height: 70px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #eaf6f6;

  .options {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:  #bef0f0;

    .option {
      padding: 40px;
      color: black;
      cursor: pointer;
    }
  }
}
