.header {
  height: 45px;
  width: 100%;
  display: flex;
  background-color: #eaf6f6;
  position: absolute;
  justify-content: center;
  align-items: center;


  
  .options {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:  black;
    margin-left:60px;
    margin-right:60px;
    height:80%;
    bottom: 20px;

  
  }
}
